<a href="https://colab.research.google.com/github/PavelBodle/Python-DSA/blob/main/2_linked_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a Single Node

In [2]:
class Node:

  def __init__(self,value):
    self.data = value
    self.next = None

In [3]:
a = Node(1)
b = Node(2)
c = Node(3)

In [4]:
print(a.data,b.data,c.data)

1 2 3

Linked the Nodes with Each other to make Linked List

In [5]:
a.next = b
b.next = c

In [6]:
print(a.next, b.next, c.next)

<__main__.Node object at 0x79d21f6f5cd0> <__main__.Node object at 0x79d21f6f59d0> None

In [8]:
print(int(0x79d21f6f5cd0), int(0x79d21f6f59d0))

133943377485008 133943377484240

In [9]:
print(id(a),id(b),id(c))

133943377484944 133943377485008 133943377484240

Create **Linked List** from scratch.

In [29]:
class Node:
  def __init__(self,value):
    self.data = value
    self.next = None

In [41]:
class Linkedlist:
  def __init__(self):
    self.head = None # Empty Linked List
    self.n = 0  # no of nodes in the LL

  def __len__(self):  #length of LL
    return self.n

  def insert_head(self, value):
    new_node = Node(value) # new node
    new_node.next = self.head # create connection
    self.head = new_node # reassign head
    self.n = self.n + 1 # increment n

In [48]:
L = Linkedlist()

In [50]:
L.insert_head(1)
L.insert_head(10)
L.insert_head(100)
L.insert_head(1000)

In [51]:
len(L)

5